body{

background-color: white;



}

.titre{

font-family: verdana;
font-size: 20px;
color: green;


}


#content{
width: 650px;
background-color: white;
color: black;


}

.menu{
	width: 150px;
	min-height: 800px;
	background-color: #E2E2E2;
	float: left;
}

.content{

width: 700px;
float: left;


}

h2{

	font-size: 18px;
}

li a{

	text-decoration: none;
	list-style: none;
}

.billet {
	width: 650px;
	background-color: black;
	color: white;

}

#display_comments {

	background-color: white;
	width: 650px;
	color: gray;
}

#style_comment {

	background-color: gray;
	color: white;
	width: 650px;
}

.box_comment{

	width: 600px;


}

#content_com{

	width: 600px;
}

.box_admin{

	background-color: yellow;
	color:red;
}

#subject-id{

width: 650px;

}

.tag{

	background-color: orange;
	width: 650px;
}